* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(175, 200, 247);
    color: black;
}

canvas {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.controls {
    background-color: bisque;
    padding: 0.5em;
}

.controls label {
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 0.5em;
}

.controls input {
    display: block;
    margin: 0 auto;
}