* {
    box-sizing: border-box;
}

.spinRight {
    animation: spinRight 1s linear;
}

.spinLeft {
    animation: spinLeft 1s linear;
}

@keyframes spinRight {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spinLeft {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}